.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem;
  gap: 1rem;
}

.controls {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(5rem, min-content);
  gap: 1rem;
}

.error {
  color: var(--error);
  font-size: 1.4rem;
  text-align: center;
  min-height: 5rem;
}

@media (width < 768px) {
  .container {
    grid-column: 1/3;
    gap: 0;
  }

  .controls {
    padding: 1rem 0;
    grid-column: 1/3;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
  }

  .error {
    font-size: 1rem;
    min-height: 1rem;
  }
}
